*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

html,body{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #212121;
}

.container{
    position: relative;
}

.clocke{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-color: rgb(51, 46, 46);
    border: 2px solid #999;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Center dot */
.clocke::before{
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    background: white;
    border-radius: 50%;
    z-index: 10;
}

/* Numbers */
.clocke span {
    position: absolute;
    transform: rotate(calc(30deg * var(--i)));
    inset: 12px;
    text-align: center;
}

.clocke span b {
    display: inline-block;
    transform: rotate(calc(-30deg * var(--i)));
    color: white;
    font-size: 18px;
}

/* Hands */
.hand{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.hand i{
    position: absolute;
    background: white;
    border-radius: 10px;
}

/* Hour hand */
#hour i{
    height: 60px;
    width: 5px;
}

/* Minute hand */
#min i{
    height: 80px;
    width: 4px;
}

/* Second hand */
#sec i{
    height: 100px;
    width: 2px;
    background: red;
}