*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial;
}

body{
margin-top:60px;
background:black;
color:white;
}

/* navbar */

.navbar{
height:60px;
width:100%;
background:black;
display:flex;
align-items:center;
justify-content:space-between;
padding:0 20px;
position:fixed;
top:0;
z-index:1000;
}

/* left */

.left{
display:flex;
align-items:center;
}

.menu:hover{
transition:0.3s;
      background:#333;
      border-radius: 10px;
     font-size: 22px;
    
}
.logo{
height:130px;
}

.menu{
    position: relative;
    left: 20px;
font-size:22px;
cursor:pointer;
}

/* center */

.center{
display:flex;
margin-right: 170px;
}

.center input{
width:550px;
height:40px;
padding-left:10px;
border-radius:20px 0 0 20px;
border:1px solid #ccc;
color: #ccc;
background-color: black;
}

.search-btn{
height:40px;
width:60px;
border-radius:0 20px 20px 0;
border:1px solid #ccc;
background-color: black;
color: #ccc;
cursor:pointer;
}
.search-btn:hover{
    transition:0.3s;
      background:#333;
}

.menu{
    height: 35px;
    margin-right: 35px;
    margin-top: 8px;
}



.categories{
display:flex;
gap:15px;
padding:10px;
margin-left:120px;
}

.categories p{
background:#333;
padding:6px 12px;
border-radius:15px;
cursor:pointer;
}

.categories p:hover{
background:#555;
}

/* login button */

#login{
position:absolute;
right:150px;
}
#login:hover{
    transition:0.3s;
      background:#333;
      border-radius: 10px;
      
}
#btnlog{
    height: 30px;
    width: 46px;
    cursor: pointer;
    font-weight: bold;
    border-radius: 8px;
}
/* small sidebar */

.sidebar-mini{
position:fixed;
top:80px;
left:0;
width:100px;
height:100vh;
background:black;
display:flex;
flex-direction:column;
align-items:center;
gap:20px;  
transition:0.3s;
}
#pp{
    font-size: small;
}
.rohang{
 height: 35px;
 font-size: x-large;
}
.item{
display:flex;
flex-direction:column;
align-items:center;
padding:3px;
cursor:pointer;

}

.item:hover{
    transition:0.3s;
      background:#333;
      border-radius: 10px;
}
/* big sidebar */

.sidebar-full{
position:fixed;
top:60px;
left:-200px;
width:130px;
height:100vh;
background:black;
padding:15px;
transition:0.3s;
z-index:2000;
}

.sidebar-full p{
padding:10px;
cursor:pointer;
}

.sidebar-full p:hover{
background:#333;
border-radius: 10px;
}






/* hero section */

.hero{
display:grid;
grid-template-columns:repeat(3,1fr);
gap:20px;
padding:20px;
margin-left:110px;
margin-top: 5px;
}

.hero iframe{
width:80%;
border-radius:10px;
}


.video-card iframe{
width:100%;
height:300px;
border-radius:10px;
}

.video-card h3{
font-size:16px;
margin-top:13px;
}

.video-card p{
font-size:14px;
color:gray;
}



.video-card:hover{
    transition:all 0.6s;
transform:translateY(-5px);
box-shadow:0px 10px 20px rgba(0,0,0,0.5);
 /* transition:0.3s; */
      background:#333;
      border-radius: 10px;
}


/* login modal */

.login-page{
height:600px;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
background:black;
}

.login-page h1{
margin-bottom:20px;
}

.login-form{
display:flex;
flex-direction:column;
gap:10px;
width:350px;
height: 250px;
background:rgb(233, 27, 27);
color:rgb(227, 227, 227);
padding:25px;
border-radius:10px;
font-weight: bold;
}

.login-form input{
padding:10px;
border:1px solid #ccc;

}

.login-form button{
padding:10px;
background:black;
color:white;
border:none;
cursor:pointer;
margin-top: 12px;
font-weight: bold;
}

.login-form button:hover{
    transition: 0.5s;
    color: black;
    background-color: #c7c5c5;
}
.or{
margin:15px 0;
text-align:center;
color:white;
}

.google-login{
width:350px;
padding:10px;
border:none;
background:white;
color:black;
font-size:16px;
cursor:pointer;
border-radius:5px;
display:flex;
justify-content:center;
align-items:center;
gap:10px;
}


/* right icons */

.right{
display:flex;
gap:25px;
font-size:20px;
cursor:pointer;

}


.mns, .kuldep, .harsh{
position:relative;
}

.tooltip{
position:absolute;
bottom:-25px;
left:50%;
transform:translateX(-50%);
background:#333;
color:white;
padding:4px 8px;
font-size:12px;
border-radius:5px;
display:none;
white-space:nowrap;
}

