/* h1{
    color: red;
}

body{
    background-color: rgb(194, 178, 178);
}
*/

button{
    color: yellow;
    background-color:rgb(169, 88, 88);
} 

*{
    color: rgb(88, 81, 72);
}


#hadingone{
 color: rgb(69, 69, 26);
}

